@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--navbar-height: 4rem;
	--footbar-height: 12rem;
	--red-600: #dc2626; /* Tailwind red-600 */
}

@layer utilities {
	.h-navbar {
		height: var(--navbar-height);
	}
	.h-screen-minus-navbar {
		height: calc(100vh - var(--navbar-height));
	}
	.h-footbar {
		height: var(--footbar-height);
	}
	.min-h-full-minus-footbar {
		min-height: calc(100% - var(--footbar-height));
	}
}
